<% layout('/layouts/boilerplate') -%>

<h1 class="rootPage">Welcome to wonderlust</h1>


<%# 
layout('/layouts/boilerplate') sets the layout template your view
(edit.ejs, show.ejs, etc.) should be injected into.
%>